//for hpe theme, use the following import instead
//@import '~grommet/scss/hpe/index';

@import '~grommet-presentation/scss/index';

.box--pad-vertical-large {
  @include media-query(palm) {
    padding: 48px 12px;
  }
}

iframe.sample-container {
  height: calc(100vh - #{$header-height * 2.7});
  width: 100%;
  border: none;
}

.animated-git {
  width: 100%;
  max-width: 600px;
}

.logo {
  width: 140px;

  .eyes {
    .eye {
      -webkit-animation: blink 5s infinite ease-in-out;
      -webkit-transform-origin: center center;
      animation: blink 5s infinite ease-in-out;
      transform-origin: center center;
    }
  }

  .accordion-bellow {
    -webkit-animation: bellow-swing 0.8s infinite ease-in-out;
    -webkit-transform-origin: center center;
    animation: bellow-swing 0.8s infinite ease-in-out;
    -moz-transform-origin: 144.7525px 159.2475px 0px;
  }

  .accordion-left {
    -webkit-animation: play-left 0.8s infinite ease-in-out;
    -webkit-transform-origin: center center;
    animation: play-left 0.8s infinite ease-in-out;
    -moz-transform-origin: 105px 410px 0px;
  }

  .accordion-right {
    -webkit-animation: play-right 0.8s infinite ease-in-out;
    -webkit-transform-origin: center center;
    animation: play-right 0.8s infinite ease-in-out;
    -moz-transform-origin: 175px 330px 0px;
  }
}

@keyframes play-left {
  50% {
    transform: translate(35%, -3.5%) rotate(12.5deg);
  }
}

@keyframes play-right {
  50% {
    transform: translate(-25%, -3.5%) rotate(-12.5deg);
  }
}

@keyframes bellow-swing {
  50% {
    transform: scaleX(0.3);
  }
}

@keyframes blink {
  0% { transform: scaleX(1) scaleY(1); }
  1% { transform: scaleX(1.3) scaleY(0.1); }
  2% { transform: scaleX(1) scaleY(1); }
  60% { transform: scaleX(1) scaleY(1); }
  61% { transform: scaleX(1.3) scaleY(0.1);}
  62% { transform: scaleX(1) scaleY(1); }
  100% { transform: scaleX(1) scaleY(1); }
}
